<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerAddress" value="192.168.17.39" />
    <add key="ServerPort" value="3000" />
    <add key="ConnectionString" value="Data Source=storage.sdf;Persist Security Info=False;"/>
    <add key="ContextManagerId" value="1" />
  </appSettings>
</configuration>