<?xml version="1.0" encoding="utf-8" ?>
<Sections>
  <Section name="Database">
    <Setting name="FileName">storage.sqlite</Setting>
    <Setting name="SchemaScript">schema.sql</Setting>
  </Section>
  <Section name="Server">
    <Setting name="Address">http://mss.alkotorg.com/</Setting>
    <Setting name="Username"></Setting>
    <Setting name="Password"></Setting>
    <Setting name="BathSize">100</Setting>
  </Section>
  <Section name="Synchronization">
    <Setting name="LastSyncDate"></Setting>
  </Section>
</Sections>