<?xml version="1.0" encoding="utf-8" ?>
<Sections>
  <Section name="Database">
    <Setting name="FileName">storage.sqlite</Setting>
    <Setting name="FileVersion">3</Setting>
  </Section>
  <Section name="Server">
    <Setting name="Address">http://mss.alkotorg.com/</Setting>
    <Setting name="Username"></Setting>
    <Setting name="Password"></Setting>
  </Section>
  <Section name="ExecutionContext">
    <Setting name="ManagerId"></Setting>
  </Section>
</Sections>