<?xml version="1.0" encoding="utf-8" ?>
<Sections>
  <Section name="Definition">
    <Setting name="PageSize">100</Setting>
    <Setting name="LastSynchronizationDate"></Setting>
    <Setting name="Steps">
      <Item>Customers</Item>
    </Setting>
  </Section>
  <Section name="Customers">
    <Setting name="Url">/synchronization/customers.json</Setting>
    <Setting name="JsonObjectRegex"></Setting>
    <Setting name="SaveTemplate">/Resources/Database/Queries/MSS.WinMobile.Domain.Models.Customer.save.sql</Setting>
    <Setting name="DeleteTemplate">/Resources/Database/Queries/MSS.WinMobile.Domain.Models.Customer.delete.sql</Setting>
    <Setting name="Key">id</Setting>
    <Setting name="Extractors">
      <Item>
        <Key>id</Key>
        <Value>"id":(.*?)</Value>
      </Item>
      <Item>
        <Key>name</Key>
        <Value>"name":"(.*?)"</Value>
      </Item>
    </Setting>
    <Setting name="Converters">
    </Setting>
    <Setting name="Mapping">
      <Item>
        <Key>id</Key>
        <Value>id</Value>
      </Item>
      <Item>
        <Key>name</Key>
        <Value>name</Value>
      </Item>
    </Setting>
  </Section>
</Sections>